#main_stage{
    width: 480px;
    background-image: url(img/bg_img01.png);
    display:flex;
    flex-wrap: wrap;
}
#buttun{
    width: 100px;
    height: 25px;
    background-image: url(img/buutun.gif);
    background-repeat: no-repeat;
    display: block;
    border: 1px solid #000;
}
.character_space{
    width:150px;
    height:auto;
    border:2px solid #3333cc;
}
